<template name="navbar">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">Brand</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="{{activeRouteClass 'home'}}"><a href="{{pathFor 'home'}}">Home</a></li>
          <li class="{{activeRouteClass 'posts' 'postShow'}}"><a href="{{pathFor 'posts'}}">Posts</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li class="{{activeRouteClass 'dashboard' 'postNew'}}"><a href="{{pathFor 'dashboard'}}"><i class="fa fa-user"></i></a></li>
          {{/if}}
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav>
</template>
